.footer a{
	font-size: 18pt;
}

.footer
{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2000;
	width: 100%;
	bottom: 0;
	background-color: #2b2b2b;
}

.main-container
{
	margin-bottom: 130px;
	overflow: hidden;
}

.footer-row
{
	margin-top: 25px;
	margin-bottom: 50px;
}

@media only screen and (max-width: 682px) {
	.main-container
	{
		margin-bottom: 180px;
	}
}

@media only screen and (max-width: 575px) {
	.footer-row
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.main-container
	{
		margin-bottom: 280px;
	}
}

@media only screen and (max-width: 535px) {
	.main-container
	{
		min-width: 400px;
		margin-bottom: 280px;
	}
}