.WIP
{
	color: white;
	font-size: 14pt;
	text-align: center;
}

body {
	font-family: "Courier New", sans-serif;
	background-color: #2b2b2b;
}

a { text-decoration: none !important; }

.blinker
{
	display: inline-block;
	animation: blink 1s step-end infinite;
}

.blinker-end
{
	opacity: 0;
	display: inline-block;
	animation: blink .75s step-end 2;
}

.typer
{
	display: none;
}

@keyframes blink
{
	from, to { opacity: 0 }
	50% { opacity: 1; }
}

.offset-container
{
	margin-top: 5%;
}

.copyer
{
	cursor: pointer;
	border: 1px solid transparent;
}

.page-title-text
{
	font-size: 40pt;
	font-weight: lighter;
}

.white-text { color: #ffffff; }
.orange-text { color: #fda037; }
.green-text { color: #84ba41; }
.blue-text { color: #0097db; }
.red-text { color: #fe2028; }

.white-text:hover { color: #ffffff; }
.orange-text:hover { color: #fda037; }
.green-text:hover { color: #84ba41; }
.blue-text:hover { color: #0097db; }
.red-text:hover { color: #fe2028; }

.text-no-wrap { white-space: nowrap; }
.text-justify{ text-align: justify; }
.text-center{ text-align: center; }

::-webkit-scrollbar
{
	width: 15px;
}

::-webkit-scrollbar-track
{
	background: transparent;
}

::-webkit-scrollbar-thumb
{
	background: #555;
}

::-webkit-scrollbar-thumb:hover
{
	background: #888;
}

.carousel .carousel-control-prev { visibility: hidden; }
.carousel:hover .carousel-control-prev { visibility: visible; }

.carousel .carousel-control-next { visibility: hidden; }
.carousel:hover .carousel-control-next { visibility: visible; }

.carousel-control-next-icon {
	position: absolute;
	/*bottom: 25px;*/
	right: 0;
}

.carousel-control-prev-icon {
	position: absolute;
	/*bottom: 25px;*/
	left: 0;
}