.project
{
    margin-top: 75px;
    margin-bottom: 125px;
}

.project-title
{
    text-align: center;
    font-size: 13pt;
}

.project-title-text
{
    font-size: 20pt;
}

.project-body
{
    margin-top: 50px;
}

.project-link
{
    height: 45px;
    max-width: 100%;
}

.project-picture
{
    border-radius: 5px;
}

@media only screen and ( max-width: 535px)
{
    .project-title
    {
        font-size: 10pt;
    }

    .project-title-text
    {
        font-size: 16pt;
    }
}

#fsCarousel .project-picture
{
    height: 350px;
}
