<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("partial/stylesheets") %>
	<link rel="stylesheet" type="text/css" href="/public/resources/css/about_me.css" />
	<title>Stefan's Site</title>
</head>

<body>
	<%- include("partial/important-info") %>
	<div class="WIP">This site is a work in progress!</div>
	<main class="flex-fill container main-container offset-container">
		<div class="row">
			<div class="col">
				<div class="blue-text page-title-text text-no-wrap">
					<span class="typer" data-type-speed="125">About Me</span><span class="blinker">_</span>
				</div>
			</div>
		</div>
	</main>
	<%- include("partial/footer") %>
</body>
<%- include("partial/js-libs") %>
</html>