<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("partial/stylesheets") %>
	<link rel="stylesheet" type="text/css" href="/public/resources/css/contacts.css" />
	<title>Stefan's Site</title>
</head>

<body>
	<%- include("partial/important-info") %>
	<div class="WIP">This site is a work in progress!</div>
	<main class="flex-fill container main-container offset-container">
		<div class="row">
			<div class="col">
				<div class="red-text page-title-text text-no-wrap">
					<span class="typer" data-type-speed="125">Contacts</span><span class="blinker">_</span>
				</div>
			</div>
		</div>

		<div style="margin-top: 100px" class="row">
			<div class="col text-center">
				<a href="https://www.npmjs.com/~stefantigro">
					<img class="contact-link" src="/public/resources/imgs/npm-icon.svg">
				</a>
				<p style="margin-top: 15px" class="white-text text-center">NPM</p>
			</div>

			<div class="col contact-link text-center">
				<a href="https://github.com/Michaelpalacce">
					<img class="contact-link" src="/public/resources/imgs/github-icon.svg">
				</a>
				<p style="margin-top: 15px" class="white-text text-center">Github</p>
			</div>

			<div class="col contact-link text-center">
				<a href="https://www.linkedin.com/in/stefan-genov-286972a3/">
					<img class="contact-link" src="/public/resources/imgs/linkedin-icon.svg">
				</a>
				<p style="margin-top: 15px" class="white-text text-center">Linked-In</p>
			</div>

			<div class="col contact-link text-center">
				<a href="https://www.facebook.com/stefantigro">
					<img class="contact-link" src="/public/resources/imgs/facebook-icon.svg">
				</a>
				<p style="margin-top: 15px" class="white-text text-center">Facebook</p>
			</div>

			<div class="col contact-link text-center">
				<a href="https://t.me/stefantigro">
					<img class="contact-link" src="/public/resources/imgs/telegram-icon.svg">
				</a>
				<p style="margin-top: 15px" class="white-text text-center">Telegram</p>
			</div>
		</div>

		<div class="row" style="margin-top: 150px">
			<div class="col text-center">
				<span class="white-text" style="font-size: 25px">Email: stefantigro@gmail.com</span>
			</div>
		</div>
	</main>
	<%- include("partial/footer") %>
</body>
<%- include("partial/js-libs") %>
</html>