<footer class="footer">
    <div class="container text-center">
        <div class="row" style="margin-bottom: 75px; margin-top: 50px">
            <div class="col">
                <div><a class="orange-text" href="/Projects"><span class="typer">Projects</span><span class="blinker">_</span></a></div>
            </div>
            <div class="col">
                <div><a class="green-text" href="#"><span class="typer">Blog</span><span class="blinker">_</span></a></div>
            </div>
            <div class="col">
                <div><a class="blue-text" href="#"><span class="typer">About Me</span><span class="blinker">_</span></a></div>
            </div>
            <div class="col">
                <div><a class="red-text" href="#"><span class="typer">Contacts</span><span class="blinker">_</span></a></div>
            </div>
        </div>
    </div>
</footer>