<div class="project">
	<div class="row project-title">
		<div class="col">
			<span class="blue-text">
				&lt;title&gt;<span class="white-text project-title-text">Memcached DataServer</span>&lt;/title&gt;
			</span>
		</div>
	</div>
	<div class="row text-center mt-3">
		<div class="col">
			<span class="copyer orange-text text-center" data-color="#fda037">npm i --save er_memcached_data_server</span>
		</div>
	</div>
	<div class="row project-body">
		<div class="col-lg">
			<div class="row">
				<span class="white-text project-description text-justify">
					er_memcached_data_server. is a plugin for EventRequest that adds the ability to attach a memcached data server.
					This allows for distributed caching.
					<br><br>
					The project has a 100% test coverage and is actively maintained.
					<br><br>
					er_redis_data_server supports NodeJS 12.x or newer.
					<br><br>
					Project Links:
				</span>
			</div>
			<div class="row">
				<div class="col-sm mt-4 mb-4 text-center">
					<a href="https://www.npmjs.com/package/er_memcached_data_server">
						<img class="project-link" src="/public/resources/imgs/npm-icon.svg">
					</a>
				</div>
				<div class="col-sm mt-4 mb-4 text-center">
					<a href="https://github.com/Michaelpalacce/er_memcached_data_server">
						<img class="project-link" src="/public/resources/imgs/github-icon.svg">
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg">
			<div id="erRedisDataServerCarousel" class="carousel slide carousel-fade" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/public/resources/imgs/er_memcached_data_server-1.svg" class="d-block w-100 project-picture">
					</div>
				</div>
				<a class="carousel-control-prev" href="#erRedisDataServerCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#erRedisDataServerCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>