<div class="project">
	<div class="row project-title">
		<div class="col">
			<span class="blue-text">
				&lt;title&gt;<span class="white-text project-title-text"> EventRequest </span>&lt;/title&gt;
			</span>
		</div>
	</div>
	<div class="row project-body">
		<div class="col">
			<div class="row">
							<span class="white-text project-description text-justify">
								EventRequest is a zero-dependency, extremely fast and highly customizable web framework built in NodeJS.
								It offers a wide array of built in plugins and a wide sort of extendable components. This site is powered by EventRequest!
								<br>
								<br>
								The project has a 100% test coverage and is actively maintained. EventRequest supports NodeJS 12.x or newer.
								<br>
								<br>
								Links:
							</span>
			</div>
			<div class="row mt-4 mb-4">
				<div class="col-md-3 project-link">
					<a href="https://www.npmjs.com/package/event_request"><img class="project-link" src="/public/resources/imgs/npm-icon.svg"></a>
				</div>
				<div class="col-md-3 project-link">
					<a href="https://github.com/Michaelpalacce/EventRequest"><img class="project-link" src="/public/resources/imgs/github-icon.svg"></a>
				</div>
			</div>
		</div>
		<div class="col"><img class="project-picture" src="/public/resources/imgs/EventRequest-1.svg"></div>
	</div>
</div>