<div class="project">
    <div class="row project-title">
        <div class="col">
						<span class="blue-text">
							&lt;title&gt;<span class="white-text project-title-text"> EventRequest </span>&lt;/title&gt;
						</span>
        </div>
    </div>
    <div class="row project-body">
        <div class="col-md-5">
            <div class="row">
							<span class="white-text project-description text-justify">
								EventRequest is a zero-dependency, extremely fast and highly customizable web framework built in NodeJS.
								It offers a wide array of built in plugins and a wide sort of extendable components.
								<br>
								<br>
								The project has a 100% test coverage and is actively maintained.
								<br>
								<br>
								EventRequest supports NodeJS 12.x or newer.
								<br>
								<br>
								Links:
							</span>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-3 project-link">
                    <a href="https://www.npmjs.com/package/event_request"><img style="width: 50px; height: 25px;" src="/public/resources/imgs/npm-logo.png"></a>
                </div>
                <div class="col-md-3 project-link">
                    <a href="https://github.com/Michaelpalacce/EventRequest"><img style="width: 35px; height: 35px;" src="/public/resources/imgs/github-logo.png"></a>
                </div>
            </div>
        </div>
        <div class="col-md-7"><img class="project-picture" src="/public/resources/imgs/EventRequest-1.PNG"></div>
    </div>
</div>