<div class="project">
	<div class="row project-title">
		<div class="col">
			<span class="blue-text">
				&lt;title&gt;<span class="white-text project-title-text">FsBrowser</span>&lt;/title&gt;
			</span>
		</div>
	</div>
	<div class="row text-center mt-3">
		<div class="col">
			<span class="copyer orange-text text-center" data-color="#fda037">npm i --save fs-browser</span>
		</div>
	</div>
	<div class="row project-body">
		<div class="col-lg">
			<div class="row">
				<span class="white-text project-description text-justify">
					This npm module allows pagination of the file system. It fetches directories first and then files, allowing you to order the results in a more predictable fashion.
					<br><br>
					The module is entirely asynchronous!
					<br><br>
					Links:
				</span>
			</div>
			<div class="row">
				<div class="col-sm mt-4 mb-4 text-center">
					<a href="https://www.npmjs.com/package/fs-browser"><img class="project-link" src="/public/resources/imgs/npm-icon.svg"></a>
				</div>
				<div class="col-sm mt-4 mb-4 text-center">
					<a href="https://github.com/Michaelpalacce/fs-browser"><img class="project-link" src="/public/resources/imgs/github-icon.svg"></a>
				</div>
			</div>
		</div>
		<div class="col-lg">
			<img class="project-picture" src="/public/resources/imgs/fs-browser-1.svg">
		</div>
	</div>
</div>