<div class="project">
	<div class="row project-title">
		<div class="col">
						<span class="blue-text">
							&lt;title&gt;<span class="white-text project-title-text"> Server Emulator </span>&lt;/title&gt;
						</span>
		</div>
	</div>
	<div class="row project-body">
		<div class="col">
			<div class="row">
							<span class="white-text project-description text-justify">
								This npm module allows you to access your file system in the browser. Allows for a wide variety of operations ( copy, cut, paste, delete, download, etc. ). It also allows for video, text, image and audio streaming. The module also allows you to start a terminal in the browser.
								<br>
								<br>
								It acts as a Command Line Interface ( CLI ) and can be booted from anywhere by installing it as a global module.
								<br>
								<br>
								Links:
							</span>
			</div>
			<div class="row mt-4 mb-4">
				<div class="col-md-3 project-link">
					<a href="https://www.npmjs.com/package/server-emulator"><img class="project-link" src="/public/resources/imgs/npm-icon.svg"></a>
				</div>
				<div class="col-md-3 project-link">
					<a href="https://github.com/Michaelpalacce/Server"><img class="project-link" src="/public/resources/imgs/github-icon.svg"></a>
				</div>
			</div>
		</div>
		<div class="col">
			<img class="project-picture" src="/public/resources/imgs/ServerEmulator-1.svg">
			<!--            <img class="project-picture" src="/public/resources/imgs/ServerEmulator-2.png">-->
		</div>
	</div>
</div>