<div class="project">
	<div class="row project-title">
		<div class="col">
			<span class="blue-text">
				&lt;title&gt;<span class="white-text project-title-text">ServerEmulator</span>&lt;/title&gt;
			</span>
		</div>
	</div>
	<div class="row text-center mt-3">
		<div class="col">
			<span class="copyer orange-text text-center" data-color="#fda037">npm i -g server-emulator</span>
		</div>
	</div>
	<div class="row project-body">
		<div class="col-lg">
			<div class="row">
				<span class="white-text project-description text-justify">
					This npm module allows you to access your file system in the browser. Allows for a wide variety of operations ( copy, cut, paste, delete, download, etc. ).
					It also allows for video, text, image and audio streaming. The module also allows you to start a terminal in the browser.
					<br>
					<br>
					It acts as a Command Line Interface ( CLI ) and can be booted from anywhere by installing it as a global module.
					<br>
					<br>
					Links:
				</span>
			</div>
			<div class="row">
				<div class="col-sm mt-4 mb-4 text-center">
					<a href="https://www.npmjs.com/package/server-emulator"><img class="project-link" src="/public/resources/imgs/npm-icon.svg"></a>
				</div>
				<div class="col-sm mt-4 mb-4 text-center">
					<a href="https://github.com/Michaelpalacce/Server"><img class="project-link" src="/public/resources/imgs/github-icon.svg"></a>
				</div>
			</div>
		</div>
		<div class="col-lg">
			<img class="project-picture" src="/public/resources/imgs/ServerEmulator-1.svg">
			<!--            <img class="project-picture" src="/public/resources/imgs/ServerEmulator-2.png">-->
		</div>
	</div>
</div>