<div class="project">
	<div class="row project-title">
		<div class="col">
			<span class="blue-text">
				&lt;title&gt;<span class="white-text project-title-text">Personal Site</span>&lt;/title&gt;
			</span>
		</div>
	</div>
	<div class="row text-center mt-3">
		<div class="col">
			<span class="copyer orange-text text-center" data-color="#fda037">git clone https://github.com/Michaelpalacce/PersonalWebsite.git</span>
		</div>
	</div>
	<div class="row project-body">
		<div class="col-lg">
			<div class="row">
				<span class="white-text project-description text-justify">
					Nothing to say really! You are looking at it. Uses NodeJS as a backend, EJS in the front-end.
					<br><br>
					Main idea of this website was to test how <span class="red-text">EventRequest</span> will handle an actual environment.
					<br><br>
					Project Links:
				</span>
			</div>
			<div class="row">
				<div class="col-sm mt-4 mb-4 text-center">
					<a href="https://github.com/Michaelpalacce/PersonalWebsite">
						<img class="project-link" src="/public/resources/imgs/github-icon.svg">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>